
.card {
  max-width: 20.4375rem;
  border-radius: 1.25rem;
  text-align: center;
  background-color: #fff;

  &__hero {
    font-size: 0;
  }

  &__hero-img {
    border-radius: 1.25rem 1.25rem 0 0;
    width: 100%;
  }

  &__body {
    padding: 2rem 1.5rem;
  }

  &__title {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 1.375rem;
    line-height: normal;
    margin-bottom: 1rem;
  }

  &__subtitle {
    color: #717fa6;
    line-height: 1.5625rem;
    margin-bottom: 1.5rem;
    padding: 0 0.5rem
  }

  &__plan-box {
    background-color: #f7f9ff;
    border-radius: 0.6875rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
  }

  &__plan-box-left {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 1.25rem;
  }

  &__plan-box-left h5 {
  font-weight: 900;
  font-size: 15px;
  color: hsl(223, 47%, 23%);
  margin-bottom: 0.3rem;
  }

  &__plan-box-left div p {
    font-size: 14px;
    color: #8a8a8a;
  }

  &__plan-box a {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    transition: color .3s ease;
  }

  &__plan-box a:hover {
    text-decoration: none;
    color: hsl(245, 75%, 52%);
  }

  &__proceed-btn {
    display: block;
    text-decoration: none;
    color: white;
    background-color: hsl(245, 75%, 52%);
    padding: 0.94rem;
    border-radius: 12px;
    margin: 1.5rem 0;
    font-weight: 900;
    box-shadow: 0 20px 20px 0 rgba(56, 42, 255, 0.19);
    transition: background-color .3s ease;
  }

  &__proceed-btn:hover {
    background-color: hsl(224, 23%, 55%);
  }

  &__cancel-btn {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 900;
    transition: color .3s ease;
  }

  &__cancel-btn:hover {
    color: hsl(223, 47%, 23%)
  }

  @media only screen and (min-width: 768px) {
    max-width: 28.125rem;
      &__container {
        max-width: 87%;
      }
      &__title {
        font-size: 1.75rem;
      }
      &__subtitle {
        font-size: 1rem;
      }
      &__plan-box-left h5 {
        font-size: 1rem;
      }
      &__plan-box-left div p {
        font-size: 1rem;
      }
      &__plan-box a {
        font-size: 0.875rem;
      }
      &__plan-box {
        padding: 1.56rem 1.5rem;
      }
      &__proceed-btn {
        margin: 2rem 0;
      }
      &__body {
        padding: 2.81rem 3rem 3rem;
      }
  }
}