
.card {
  max-width: 20.4375rem;
  border-radius: 1.25rem;
  text-align: center;
  background-color: #fff;

  &__hero {
    font-size: 0;
  }

  &__hero-img {
    border-radius: 1.25rem 1.25rem 0 0;
    width: 100%;
  }

  &__body {
    padding: 2rem 1.5rem;
  }

  &__title {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 1.375rem;
    line-height: normal;
    margin-bottom: 1rem;
  }

  &__subtitle {
    color: #717fa6;
    line-height: 1.5625rem;
    margin-bottom: 1.5rem;
  }

  &__plan-box {
    background-color: #f7f9ff;
    border-radius: 0.6875rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
  }

  &__plan-box-left {
    display: flex;
    align-items: center;
    text-align: left;
  }

  &__plan-box-left div {
    margin: 20px;
  }

  &__plan-box-left div h5 {
  font-weight: 900;
  font-size: 15px;
  color: hsl(223, 47%, 23%)
  }

  &__plan-box-left div p {
    font-size: 14px;
    color: #8a8a8a;
  }

  &__plan-box a {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    transition: color .3s ease;
  }

  &__plan-box a:hover {
    text-decoration: none;
    color: hsl(245, 75%, 52%);
  }

  &__proceed-btn {
    display: block;
    text-decoration: none;
    color: white;
    background-color: hsl(245, 75%, 52%);
    padding: 20px 0;
    border-radius: 12px;
    margin: 30px 0;
    transition: background-color .3s ease;
  }

  &__proceed-btn:hover {
    background-color: hsl(224, 23%, 55%);
  }

  &__cancel-btn {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 900;
    transition: color .3s ease;
  }

  &__cancel-btn:hover {
    color: hsl(223, 47%, 23%)
  }

  @media only screen and (max-width: 425px) {
      &__container {
        max-width: 87%;
      }
      &__title {
        font-size: 23px;
      }
      &__plan-box {
        padding: 12px;
      }
      &__plan-box-left div {
        margin-left: 10px;
      }

      &__proceed-btn,
      &__cancel-btn,
      &__plan-box a {
        font-size: 13px;
      }
      &__body {
        padding: 9% 7%;
      }
  }


}