@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display',
  sans-serif;
  min-height: 100vh;
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
  position: relative;
  font-size: 0.9375rem;
  font-weight: 500;

  @media only screen and (min-width: 768px) {
    background-image: url(../images/pattern-background-desktop.svg);
  }
}